p {
    border-top-left-radius: 1px;
}

.card {
    padding: 5px;
}

.card-content {
    border: 1px solid red;
    padding: 10px;
    background-color: #ffff;
    border-radius: 5px;
}

.cls_title {
    font-size: 15px;
}

.card-content {
    font-size: 12px;
}