.tbl {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .tbl td, .tbl th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tbl tr:nth-child(even){background-color: #f2f2f2;}
  
  .tbl tr:hover {background-color: #ddd;}
  
  .tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #049faa;
    color: white;
  }
  .edit{
    padding: 5px;
  }
  .delete{
    padding: 5px;
  }